<!DOCTYPE html>
<html lang="en">
<head>
<!-- Basic page needs -->
<meta charset="utf-8">
<!-- Mobile specific metas  -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Favicons Icon -->
<link rel="shortcut icon" type="image/x-icon" href="/favicon.png">

<!-- CSS Style -->
<link rel="stylesheet" href="/style.css">
</head>

<body class="cms-index-index cms-home-page">


<!--End of Newsletter Popup--> 
<!-- mobile menu -->
<!-- <div id="mobile-menu">
  <ul>
    <li><a href="/" class="home1">Home</a>
    </li>
    <li><a href="#">Categories</a>
      <ul>
        <li><a href="#">Blouse</a>
          <ul>
            <li><a href="shop_grid.html"><span>Backless Blouse</span></a></li>
            <li><a href="shop_grid.html"><span>Halter Neck Blouse</span></a></li>
            <li><a href="shop_grid.html"><span>Boat Neck Blouse</span></a></li>
            <li><a href="shop_grid.html"><span>High Neck Blouse</span></a></li>
            <li><a href="shop_grid.html"><span>Asymmetric Blouse</span></a></li>
            <li><a href="shop_grid.html"><span>Collar Neck Blouse</span></a></li>
            <li><a href="shop_grid.html"><span>Peter Pan Collar Blouse</span></a></li>
            <li><a href="shop_grid.html"><span>Jacket Style Blouse</span></a></li>
          </ul>
        </li>
        <li><a href="#">Blouse</a>
          <ul>
            <li><a href="shop_grid.html"><span>Backless Blouse</span></a></li>
            <li><a href="shop_grid.html"><span>Halter Neck Blouse</span></a></li>
            <li><a href="shop_grid.html"><span>Boat Neck Blouse</span></a></li>
            <li><a href="shop_grid.html"><span>High Neck Blouse</span></a></li>
            <li><a href="shop_grid.html"><span>Asymmetric Blouse</span></a></li>
            <li><a href="shop_grid.html"><span>Collar Neck Blouse</span></a></li>
            <li><a href="shop_grid.html"><span>Peter Pan Collar Blouse</span></a></li>
            <li><a href="shop_grid.html"><span>Jacket Style Blouse</span></a></li>
          </ul>
        </li>
        <li><a href="#">Blouse</a>
          <ul>
            <li><a href="shop_grid.html"><span>Backless Blouse</span></a></li>
            <li><a href="shop_grid.html"><span>Halter Neck Blouse</span></a></li>
            <li><a href="shop_grid.html"><span>Boat Neck Blouse</span></a></li>
            <li><a href="shop_grid.html"><span>High Neck Blouse</span></a></li>
            <li><a href="shop_grid.html"><span>Asymmetric Blouse</span></a></li>
            <li><a href="shop_grid.html"><span>Collar Neck Blouse</span></a></li>
            <li><a href="shop_grid.html"><span>Peter Pan Collar Blouse</span></a></li>
            <li><a href="shop_grid.html"><span>Jacket Style Blouse</span></a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="shop_grid.html">New Arrivals</a></li>
    <li><a href="shop_grid.html">Best Seller</a></li>
    <li><a href="blog_right_sidebar.html">Blog</a></li>
    <li><a href="about_us.html">About Us</a></li>
    <li><a href="contact_us.html">Contact Us</a></li>
    <li>
      <div class="money">
        <div class="shipping-inner"> 
          <div class="content">
            <h3>Money Guarantee</h3>
            30 Day money back guarantee. </div>
        </div>
      </div>
    </li>
    <li>
      <div class="call">
        <div class="shipping-inner"> 
          <div class="content">
            <h3>Call us  +(91) 1234-5678</h3>
            Monday to Friday 8am to 6pm. </div>
        </div>
      </div>
    </li>
  </ul>
</div> -->
<!-- end mobile menu -->
<div id="page"> 
  
  <!-- Header -->
  <header>
    <div class="header-container">
      <div class="header-top">
        <div class="container">
          <div class="row">
            <div class="col-sm-4 col-md-4 col-xs-12"> 
              <!-- Default Welcome Message -->
              <div class="welcome-msg hidden-xs hidden-sm">Welcome to New-Ecommerce! </div>
            </div>
            
            <!-- top links -->
            <div class="headerlinkmenu col-md-8 col-sm-8 col-xs-12">
              <ul class="links">
                <li><a title="Offers" href="/offer"><span><i class="uil uil-gift"></i> Offers</span></a></li>
                <li>
                  <a href="/faq" title="FAQs"><span><i class="uil uil-question-circle"></i> Help</span></a>
                </li>
               <!--  <li><a title="Wishlist" href="wishlist.html"><span><i class="uil uil-heart"></i> Wishlist</span></a></li>
                <li><a title="Wishlist" href="profile.html"><span><i class="uil uil-user"></i> My Account</span></a></li> -->
                <li>
                  <a title="Account" href="/account_page"><span><i class="uil uil-padlock"></i> Login</span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- header inner -->
      <div class="header-inner">
        <div class="container">
          <div class="row">
            <div class="col-sm-3 col-xs-12 jtv-logo-block">
              <div class="mm-toggle-wrap">
                <div class="mm-toggle"><i class="fa fa-align-justify"></i> </div>
                <!-- <span class="mm-label hidden">Categories</span>  -->
                </div>
              
              <!-- Header Logo -->
              <div class="logo"><a title="e-commerce" href="index.html"><img alt="GOURANGA PAUL" title="GOURANGA PAUL" src="/logo.png"></a> </div>
            </div>
            <div class="col-sm-5 col-md-6 col-xs-12 shipping-block">
              <div class="col-md-6 col-xs-12 col-sm-6 money hidden-sm">
                <div class="shipping-inner"> <i class="fa fa-rupee"></i>
                  <div class="content">
                    <h3>Money Guarantee</h3>
                    <span>30 Day money back guarantee.</span> </div>
                </div>
              </div>
              <div class="col-md-6 col-xs-12 col-sm-12 call">
                <div class="shipping-inner"> <i class="fa fa-phone"></i>
                  <div class="content">
                    <h3>Call us  +(91) 1234-5678</h3>
                    <span>Monday to Saturday 8am to 6pm.</span> </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 jtv-top-search"> 
              
              <!-- Search -->
              
              <div class="top-search">
                <div id="search">
                  <form>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search for product..." name="search">
                      <button class="btn-search" type="button"><i class="fa fa-search"></i></button>
                    </div>
                  </form>
                </div>
              </div>
              
              <!-- End Search --> 
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- end header -->
  <nav>
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-1 mega-container">
          <div class="navleft-container">
            <div class="mega-menu-title hidden-xs">
              <h3><span class="hidden-sm">All Brand</span></h3>
            </div>
            
            <!-- Shop by category -->
            <!-- <div class="mega-menu-category">
              <ul class="nav">
                <li><a href="#">Blouse </a>
                  <div class="wrap-popup column1">
                    <div class="popup">
                      <ul class="nav">
                        <li><a href="shop_grid.html"><span>Backless Blouse</span></a></li>
                        <li><a href="shop_grid.html"><span>Halter Neck Blouse</span></a></li>
                        <li><a href="shop_grid.html"><span>Boat Neck Blouse</span></a></li>
                        <li><a href="shop_grid.html"><span>High Neck Blouse</span></a></li>
                        <li><a href="shop_grid.html"><span>Asymmetric Blouse</span></a></li>
                        <li><a href="shop_grid.html"><span>Collar Neck Blouse</span></a></li>
                        <li><a href="shop_grid.html"><span>Peter Pan Collar</span></a></li>
                        <li><a href="shop_grid.html"><span>Jacket Style Blouse</span></a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li><a href="#">Blouse </a>
                  <div class="wrap-popup column1">
                    <div class="popup">
                      <ul class="nav">
                        <li><a href="shop_grid.html"><span>Backless Blouse</span></a></li>
                        <li><a href="shop_grid.html"><span>Halter Neck Blouse</span></a></li>
                        <li><a href="shop_grid.html"><span>Boat Neck Blouse</span></a></li>
                        <li><a href="shop_grid.html"><span>High Neck Blouse</span></a></li>
                        <li><a href="shop_grid.html"><span>Asymmetric Blouse</span></a></li>
                        <li><a href="shop_grid.html"><span>Collar Neck Blouse</span></a></li>
                        <li><a href="shop_grid.html"><span>Peter Pan Collar</span></a></li>
                        <li><a href="shop_grid.html"><span>Jacket Style Blouse</span></a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li><a href="#">Blouse </a>
                  <div class="wrap-popup column1">
                    <div class="popup">
                      <ul class="nav">
                        <li><a href="shop_grid.html"><span>Backless Blouse</span></a></li>
                        <li><a href="shop_grid.html"><span>Halter Neck Blouse</span></a></li>
                        <li><a href="shop_grid.html"><span>Boat Neck Blouse</span></a></li>
                        <li><a href="shop_grid.html"><span>High Neck Blouse</span></a></li>
                        <li><a href="shop_grid.html"><span>Asymmetric Blouse</span></a></li>
                        <li><a href="shop_grid.html"><span>Collar Neck Blouse</span></a></li>
                        <li><a href="shop_grid.html"><span>Peter Pan Collar</span></a></li>
                        <li><a href="shop_grid.html"><span>Jacket Style Blouse</span></a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li><a href="#">Blouse </a>
                  <div class="wrap-popup column1">
                    <div class="popup">
                      <ul class="nav">
                        <li><a href="shop_grid.html"><span>Backless Blouse</span></a></li>
                        <li><a href="shop_grid.html"><span>Halter Neck Blouse</span></a></li>
                        <li><a href="shop_grid.html"><span>Boat Neck Blouse</span></a></li>
                        <li><a href="shop_grid.html"><span>High Neck Blouse</span></a></li>
                        <li><a href="shop_grid.html"><span>Asymmetric Blouse</span></a></li>
                        <li><a href="shop_grid.html"><span>Collar Neck Blouse</span></a></li>
                        <li><a href="shop_grid.html"><span>Peter Pan Collar</span></a></li>
                        <li><a href="shop_grid.html"><span>Jacket Style Blouse</span></a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li><a href="#">Blouse </a>
                  <div class="wrap-popup column1">
                    <div class="popup">
                      <ul class="nav">
                        <li><a href="shop_grid.html"><span>Backless Blouse</span></a></li>
                        <li><a href="shop_grid.html"><span>Halter Neck Blouse</span></a></li>
                        <li><a href="shop_grid.html"><span>Boat Neck Blouse</span></a></li>
                        <li><a href="shop_grid.html"><span>High Neck Blouse</span></a></li>
                        <li><a href="shop_grid.html"><span>Asymmetric Blouse</span></a></li>
                        <li><a href="shop_grid.html"><span>Collar Neck Blouse</span></a></li>
                        <li><a href="shop_grid.html"><span>Peter Pan Collar</span></a></li>
                        <li><a href="shop_grid.html"><span>Jacket Style Blouse</span></a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li><a href="#">Blouse </a>
                  <div class="wrap-popup column1">
                    <div class="popup">
                      <ul class="nav">
                        <li><a href="shop_grid.html"><span>Backless Blouse</span></a></li>
                        <li><a href="shop_grid.html"><span>Halter Neck Blouse</span></a></li>
                        <li><a href="shop_grid.html"><span>Boat Neck Blouse</span></a></li>
                        <li><a href="shop_grid.html"><span>High Neck Blouse</span></a></li>
                        <li><a href="shop_grid.html"><span>Asymmetric Blouse</span></a></li>
                        <li><a href="shop_grid.html"><span>Collar Neck Blouse</span></a></li>
                        <li><a href="shop_grid.html"><span>Peter Pan Collar</span></a></li>
                        <li><a href="shop_grid.html"><span>Jacket Style Blouse</span></a></li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </div> -->
          </div>
        </div>
        <div class="col-md-10 col-sm-11">
          <div class="mtmegamenu">
            <ul class="hidden-xs">
              <li class="mt-root demo_custom_link_cms">
                <div class="mt-root-item"><a href="/">
                  <div class="title title_font"><span class="title-text">Home</span></div>
                  </a></div>
              </li>
              <li class="mt-root">
                <div class="mt-root-item"><a href="#">
                  <div class="title title_font"><span class="title-text">Categories</span></div>
                  </a></div>
                <!-- <ul class="menu-items col-xs-12">
                  <li class="menu-item depth-1 menucol-1-3 ">
                    <div class="title title_font"> <a href="#">Blouse</a></div>
                    <ul class="submenu">
                      <li class="menu-item">
                        <div class="title"> <a href="shop_grid.html">Backless Blouse</a></div>
                      </li>
                      <li class="menu-item">
                        <div class="title"> <a href="shop_grid.html">Boat Neck Blouse</a></div>
                      </li>
                      <li class="menu-item">
                        <div class="title"> <a href="shop_grid.html">Jacket Style Blouse</a></div>
                      </li>
                      <li class="menu-item">
                        <div class="title"> <a href="shop_grid.html">Peter Pan Collar</a></div>
                      </li>
                      <li class="menu-item">
                        <div class="title"> <a href="shop_grid.html">Asymmetric Blouse</a></div>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item depth-1 menucol-1-3 ">
                    <div class="title title_font"> <a href="#">Blouse </a></div>
                    <ul class="submenu">
                      <li class="menu-item">
                        <div class="title"> <a href="shop_grid.html">Backless Blouse</a></div>
                      </li>
                      <li class="menu-item">
                        <div class="title"> <a href="shop_grid.html">Boat Neck Blouse</a></div>
                      </li>
                      <li class="menu-item">
                        <div class="title"> <a href="shop_grid.html">Jacket Style Blouse</a></div>
                      </li>
                      <li class="menu-item">
                        <div class="title"> <a href="shop_grid.html">Peter Pan Collar</a></div>
                      </li>
                      <li class="menu-item">
                        <div class="title"> <a href="shop_grid.html">Asymmetric Blouse</a></div>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item depth-1 menucol-1-3 ">
                    <div class="title title_font"> <a href="#">Blouse </a></div>
                    <ul class="submenu">
                      <li class="menu-item">
                        <div class="title"> <a href="shop_grid.html">Backless Blouse</a></div>
                      </li>
                      <li class="menu-item">
                        <div class="title"> <a href="shop_grid.html">Boat Neck Blouse</a></div>
                      </li>
                      <li class="menu-item">
                        <div class="title"> <a href="shop_grid.html">Jacket Style Blouse</a></div>
                      </li>
                      <li class="menu-item">
                        <div class="title"> <a href="shop_grid.html">Peter Pan Collar</a></div>
                      </li>
                      <li class="menu-item">
                        <div class="title"> <a href="shop_grid.html">Asymmetric Blouse</a></div>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item depth-1 menucol-1-3 ">
                    <div class="title title_font"> <a href="#">Blouse </a></div>
                    <ul class="submenu">
                      <li class="menu-item">
                        <div class="title"> <a href="shop_grid.html">Backless Blouse</a></div>
                      </li>
                      <li class="menu-item">
                        <div class="title"> <a href="shop_grid.html">Boat Neck Blouse</a></div>
                      </li>
                      <li class="menu-item">
                        <div class="title"> <a href="shop_grid.html">Jacket Style Blouse</a></div>
                      </li>
                      <li class="menu-item">
                        <div class="title"> <a href="shop_grid.html">Peter Pan Collar</a></div>
                      </li>
                      <li class="menu-item">
                        <div class="title"> <a href="shop_grid.html">Asymmetric Blouse</a></div>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item depth-1 menucol-1-3 ">
                    <div class="title title_font"> <a href="#">Blouse </a></div>
                    <ul class="submenu">
                      <li class="menu-item">
                        <div class="title"> <a href="shop_grid.html">Backless Blouse</a></div>
                      </li>
                      <li class="menu-item">
                        <div class="title"> <a href="shop_grid.html">Boat Neck Blouse</a></div>
                      </li>
                      <li class="menu-item">
                        <div class="title"> <a href="shop_grid.html">Jacket Style Blouse</a></div>
                      </li>
                      <li class="menu-item">
                        <div class="title"> <a href="shop_grid.html">Peter Pan Collar</a></div>
                      </li>
                      <li class="menu-item">
                        <div class="title"> <a href="shop_grid.html">Asymmetric Blouse</a></div>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item depth-1 menucol-1-3 ">
                    <div class="title title_font"> <a href="#">Blouse </a></div>
                    <ul class="submenu">
                      <li class="menu-item">
                        <div class="title"> <a href="shop_grid.html">Backless Blouse</a></div>
                      </li>
                      <li class="menu-item">
                        <div class="title"> <a href="shop_grid.html">Boat Neck Blouse</a></div>
                      </li>
                      <li class="menu-item">
                        <div class="title"> <a href="shop_grid.html">Jacket Style Blouse</a></div>
                      </li>
                      <li class="menu-item">
                        <div class="title"> <a href="shop_grid.html">Peter Pan Collar</a></div>
                      </li>
                      <li class="menu-item">
                        <div class="title"> <a href="shop_grid.html">Asymmetric Blouse</a></div>
                      </li>
                    </ul>
                  </li>
                </ul> -->
              </li>
              <li class="mt-root">
                <div class="mt-root-item"><a href="/arrival">
                  <div class="title title_font"><span class="title-text">New Arrivals</span> </div>
                  </a></div>
              </li>
              <li class="mt-root">
                <div class="mt-root-item"><a href="/arrival">
                  <div class="title title_font"><span class="title-text">Best Seller</span> </div>
                  </a></div>
              </li>
            
               <li class="mt-root">
                <div class="mt-root-item"><a href="/about_us">
                  <div class="title title_font"><span class="title-text">About Us</span> </div>
                  </a></div>
              </li>
              <li class="mt-root">
                <div class="mt-root-item"><a href="/contact_us">
                  <div class="title title_font"><span class="title-text">Contact Us</span> </div>
                  </a></div>
              </li>
            </ul>
            <!-- top cart -->
            <!-- <div class="top-cart-contain">
              <div class="mini-cart">
                <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle"> <a href="#">
                  <div class="cart-icon"><i class="fa fa-shopping-cart"></i></div>
                  <div class="shoppingcart-inner hidden-xs"><span class="cart-title">Cart</span> <span class="cart-total">3 Items</span></div>
                  </a></div>
                <div>
                  <div class="top-cart-content">
                    <div class="block-subtitle hidden">Recently added items</div>
                    <ul id="cart-sidebar" class="mini-products-list">
                      <li class="item odd"> 
                        <a href="shopping_cart.html" title="Product title here" class="product-image">
                          <img src="/images/p1.jpg" alt="" width="65">
                        </a>
                        <div class="product-details"> <a href="#" title="Remove This Item" class="remove-cart"><i class="pe-7s-trash"></i></a>
                          <p class="product-name"><a href="shopping_cart.html">Lorem ipsum dolor sit amet Consectetur</a> </p>
                          <strong>1</strong> x <span class="price"><i class="fa fa-rupee"></i> 20.00</span> </div>
                      </li>
                      <li class="item even"> <a href="shopping_cart.html" title="Product title here" class="product-image"><img src="/images/p2.jpg" alt="" width="65"></a>
                        <div class="product-details"> <a href="#" title="Remove This Item" class="remove-cart"><i class="pe-7s-trash"></i></a>
                          <p class="product-name"><a href="shopping_cart.html">Consectetur utes anet adipisicing elit</a> </p>
                          <strong>1</strong> x <span class="price"><i class="fa fa-rupee"></i> 230.00</span> </div>
                      </li>
                      <li class="item last odd"> <a href="shopping_cart.html" title="Product title here" class="product-image"><img src="/images/p3.jpg" alt="" width="65"></a>
                        <div class="product-details"> <a href="#" title="Remove This Item" class="remove-cart"><i class="pe-7s-trash"></i></a>
                          <p class="product-name"><a href="shopping_cart.html">Sed do eiusmod tempor incidist</a> </p>
                          <strong>2</strong> x <span class="price"><i class="fa fa-rupee"></i> 420.00</span> </div>
                      </li>
                    </ul>
                    <div class="top-subtotal">Subtotal: <span class="price"><i class="fa fa-rupee"></i> 520.00</span></div>
                    <div class="actions">
                      <button class="btn-checkout" type="button" onClick="location.href='checkout.html'"><i class="fa fa-check"></i><span>Checkout</span></button>
                      <button class="view-cart" type="button" onClick="location.href='shopping_cart.html'"><i class="fa fa-shopping-cart"></i><span>View Cart</span></button>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </nav>
  
  <!-- Breadcrumbs -->
  
  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li class="home"> <a title="Go to Home Page" href="/">Home</a><span>&raquo;</span></li>
            <li><strong>Register</strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumbs End --> 
  
  <!-- Main Container -->
  <section class="main-container col1-layout">
    <div class="main container">
      <div class="page-content">
        <div class="account-login">
          <div class="col-md-3 col-sm-2"></div>
          <div class="col-md-6 col-sm-8">
            <div class="single-input p-bottom50 clearfix">
              
              <%if(error){%>
                <%for(let e of error){%>
                 <center><p  style="font-size: xx-large; color:red;"><%=e.msg%> </p></center>
                <%}
                
                
                %>
             <%}
             
             
             %>
 <%if(!error){%>
<%if(message.length>0){%>
  <div class="alert alert-success">
    <strong><%- message %> !</strong>
 
<%}
%>
<%}
             
             
%>

 

<form action="/resetPassword" method="post">
  <div class="row">
    <div class="col-xs-12">
      <div class="check-title">
        <h4>Change Password</h4>
      </div>
    </div>


    <div class="col-sm-12">
      <label>Email:</label>
      <div class="input-text">
        <input type="email" name="email" 
        value="<%=datauser%>" placeholder="<%=datauser%>"
        class="form-control" required readonly>
      </div>
      
    </div>

    <div class="col-xs-12">
      <label>Old Password:</label>
      <div class="input-text">
        <input type="password" name="oldPassword" placeholder="old Password"
        class="form-control" required>
      </div>
      </div>
      

    
      
    
      
    <div class="col-xs-12">
    
       <div class="submit-text" style="margin-top: 10px;">
        <input type="hidden" name="id" value="<%=data._id%>">

   <div class="col-xs-12">
      <label>New Password:</label>
      <div class="input-text">
        <input type="password" name="newPassword" 
        value=""
        class="form-control" required>
      </div>
      
    </div>
    <div class="col-xs-12">
      <label>Confirm Password:</label>
      <div class="input-text">
        <input type="password" name="Confirmpassword" 
        value=""
        class="form-control" required>
      </div>
      
    </div>
      
    <div class="col-xs-12">
      <!--  <div class="billing-checkbox">
         <input type="checkbox" value="forever" id="rememberme" name="rememberme">
         Sign up for our newsletter! </div> -->
       <div class="submit-text" style="margin-top: 10px;">
        

           <button class="button"><i class="fa fa-user"></i>&nbsp; <span>Update</span></button>
          
   
       </div>
     </div>
  </div>
</form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Main Container End --> 
   <!-- service section -->
  <div class="jtv-service-area">
    <div class="container">
      <div class="row">
        <div class="col col-md-3 col-sm-6 col-xs-12">
          <div class="block-wrapper ship">
            <div class="text-des">
              <div class="icon-wrapper"><i class="fa fa-paper-plane"></i></div>
              <div class="service-wrapper">
                <h3>World-Wide Shipping</h3>
                <p>On order over <i class="fa fa-rupee"></i> 99</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-md-3 col-sm-6 col-xs-12 ">
          <div class="block-wrapper return">
            <div class="text-des">
              <div class="icon-wrapper"><i class="fa fa-rotate-right"></i></div>
              <div class="service-wrapper">
                <h3>100% secure payments</h3>
                <p>Credit/ Debit Card/ Banking </p>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col col-md-3 col-sm-6 col-xs-12">
          <div class="block-wrapper support">
            <div class="text-des">
              <div class="icon-wrapper"><i class="fa fa-umbrella"></i></div>
              <div class="service-wrapper">
                <h3>Support 24/7</h3>
                <p>Call us: ( +91 ) 456 789</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-md-3 col-sm-6 col-xs-12">
          <div class="block-wrapper user">
            <div class="text-des">
              <div class="icon-wrapper"><i class="fa fa-tags"></i></div>
              <div class="service-wrapper">
                <h3>Member Discount</h3>
                <p>25% on order over <i class="fa fa-rupee"></i> 199</p>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  
  <!-- Footer -->
  <%- include('common/footer') %> 
  <a href="#" id="back-to-top" title="Back to top"><i class="fa fa-angle-up"></i></a> 
  
  <!-- End Footer --> 
</div>

<!-- JS --> 

<!-- jquery js --> 
<script type="text/javascript" src="/js/jquery.min.js"></script> 

<!-- bootstrap js --> 
<script type="text/javascript" src="/js/bootstrap.min.js"></script> 
<!-- Slider Js --> 
<script type="text/javascript" src="/js/revolution-slider.js"></script> 
<script type="text/javascript" src="/js/revolution-extension.js"></script> 
<!-- owl.carousel.min js --> 
<script type="text/javascript" src="/js/owl.carousel.min.js"></script> 

<!-- jquery.mobile-menu js --> 
<script type="text/javascript" src="/js/mobile-menu.js"></script> 

<!--jquery-ui.min js --> 
<script type="text/javascript" src="/js/jquery-ui.js"></script> 

<!-- main js --> 
<script type="text/javascript" src="/js/main.js"></script> 

<!-- countdown js --> 
<script type="text/javascript" src="/js/countdown.js"></script>
</body>

</html>
