<!DOCTYPE html>
<html lang="en">
  <%- include('common/header') %> 
<%- include('common/nav') %> 
  <!-- Breadcrumbs -->
  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li class="home"> <a title="Go to Home Page" href="/index">Home</a><span>&raquo;</span></li>
            <li class=""> <a title="Go to Home Page" href="/shop_grid">Blouse</a><span>&raquo;</span></li>
            <li><strong>Bridal wear</strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumbs End -->

  <!-- Main Container -->
  <div class="main-container col2-left-layout">
    <div class="container">
      <div class="row">
        <div class="col-main col-sm-9 col-xs-12 col-sm-push-3">
          
          <div class="shop-inner">
            <div class="banner_box">
              <img src=""/>
          </div>
            <div class="toolbar">
              <div class="view-mode">
                <div class="page-title">
                  <h2>Eithnic Wear</h2>
                </div>
              </div>
             
            </div>
            <div class="product-grid-area">
              <ul class="products-grid">
          
            
             
             
                <li class="item col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                 



                <% if (products.length>0) { %>


                  <% products.forEach(p=> { %>

                    <div class="product-item">
                      <div class="item-inner">
                        <div class="product-thumbnail">


                          <div class="pr-img-area"> <a title="<%= p.title %> " href="/single_product/<%=p._id%>">
                              <figure>
                                <img class="first-img" src="<%= p.image[0]%>" alt=" ">
                                <img class="hover-img" src="<%=p.image[1]%>" alt=" ">
                              </figure>
                            </a> </div>

                          <div class="pr-info-area">
                            <div class="pr-button">
                              <!-- <div class="mt-button add_to_wishlist"> <a href="/wishlist/add/<%=p._id%>"> <i
                                    class="pe-7s-like"></i> </a> </div> -->
                              <div class="mt-button add_to_compare"> <a href="/single_product/<%=p._id%>"> <i class="fa 
  
  fa-eye"></i> </a> </div>
                            </div>
                          </div>
                        </div>
                        <div class="item-info">
                          <div class="info-inner">
                            <div class="item-title"> <a title="Product title here">
                                <%= p.title %> <span>#(<%= p.code %>)</span>
                              </a>

                            </div>

                            <div class="item-content">
                              <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                              <div class="item-price">
                                <div class="price-box"> <span class="regular-price"> <span class="price">
                                  <i class="fa fa-rupee"></i><%= p.tag %>
                                    </span> </span> </div>
                              </div>
                              <div class="pro-action">

                                <a href="/searchcart/add/<%=p._id%>"> <button type="button" class="add-to-cart"> <i class="fa 
  
  fa-shopping-bag"></i><span> Add to Cart</span> </button></a>

                              </div>

                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </li>
                    <% }) %>
                      <% }else{ %>
                        <p>procuct not available</p>
                        <%}%>
                
              
               
            
               
              </ul>
            
            </div>
      
            <!-- <div class="pagination-area">
              <ul>
                <li><a class="active" href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
              </ul>
            </div> -->
          </div>
        </div>
        <aside class="sidebar col-sm-3 col-xs-12 col-sm-pull-9">
          <!-- <div class="block category-sidebar">
            <div class="sidebar-title">
              <h3>Categories</h3>
            </div>
            <ul class="product-categories">
              <li class="cat-item current-cat cat-parent"><a href= "shop_grid.html">Women</a>
                <ul class="children">
                  <li class="cat-item cat-parent"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Accessories</a>
                    <ul class="children">
                      <li class="cat-item"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Dresses</a></li>
                      <li class="cat-item cat-parent"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Handbags</a>
                        <ul  class="children">
                          <li class="cat-item"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Beaded Handbags</a></li>
                          <li class="cat-item"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Sling bag</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="cat-item cat-parent"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Handbags</a>
                    <ul class="children">
                      <li class="cat-item"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; backpack</a></li>
                      <li class="cat-item"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Beaded Handbags</a></li>
                      <li class="cat-item"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Fabric Handbags</a></li>
                      <li class="cat-item"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Sling bag</a></li>
                    </ul>
                  </li>
                  <li class="cat-item"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Jewellery</a> </li>
                  <li class="cat-item"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Swimwear</a> </li>
                </ul>
              </li>
              <li class="cat-item cat-parent"><a href="shop_grid.html">Men</a>
                <ul class="children">
                  <li class="cat-item cat-parent"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Dresses</a>
                    <ul class="children">
                      <li class="cat-item"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Casual</a></li>
                      <li class="cat-item"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Designer</a></li>
                      <li class="cat-item"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Evening</a></li>
                      <li class="cat-item"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Hoodies</a></li>
                    </ul>
                  </li>
                  <li class="cat-item"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Jackets</a> </li>
                  <li class="cat-item"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Shoes</a> </li>
                </ul>
              </li>
              <li class="cat-item"><a href="shop_grid.html">Electronics</a></li>
              <li class="cat-item"><a href="shop_grid.html">Furniture</a></li>
              <li class="cat-item"><a href="shop_grid.html">KItchen</a></li>
            </ul>
          </div> -->
          <div class="block shop-by-side">
            <div class="sidebar-bar-title">
              <h3>Shop By</h3>
            </div>
          
            <div class="block-content">
              <div class="layered-Category">
                <h2 class="saider-bar-title">Categories</h2>
                <% for( let index = 0; index < count.length; index++ ) { %>
                <div class="layered-content">
                 
                  <ul class="custom-control custom-checkbox">
                    <a href="/filter/<%=count[index].subCategory%>">
                      <li>
                        <label class="custom-control-label" for="defaultUnchecked"> <span class="button"></span><%=count[index].subCategory%><span class="count">( <%=  count[index]. category_info.length %>)</span> </label>
                  </li>
                    </a>
                              <input type="hidden" name="id" value="<%=count[index].subCategory%>">
                  </ul>
                
                </div>
                <% } %>
              </div>
   
              
            
            </div>
          
          </div>
         

          <div class="block popular-tags-area ">
            <div class="sidebar-bar-title">
              <h3>Popular Tags</h3>
            </div>
            <div class="tag">
              <ul>
                <% if (products) { %>
                 <% products.forEach(pro => { %>
                  <li><a href="#"><%= pro.attribute %> </a></li>
                 <% }) %>
                <% } %>
               
               
            </div>
          </div>
        </aside>
      </div>
    </div>
  </div>
  <!-- Main Container End -->

 
  
  <!-- Footer -->
  <%- include('common/footer') %> 
  <a href="#" id="back-to-top" title="Back to top"><i class="fa fa-angle-up"></i></a> 
  
  <!-- End Footer --> 
</div>



<script type="text/javascript" src="/js/jquery.min.js"></script> 

<!-- bootstrap js --> 
<script type="text/javascript" src="/js/bootstrap.min.js"></script> 
<!-- Slider Js --> 
<script type="text/javascript" src="/js/revolution-slider.js"></script> 
<script type="text/javascript" src="/js/revolution-extension.js"></script> 
<!-- owl.carousel.min js --> 
<script type="text/javascript" src="/js/owl.carousel.min.js"></script> 

<!-- jquery.mobile-menu js --> 
<script type="text/javascript" src="/js/mobile-menu.js"></script> 

<!--jquery-ui.min js --> 
<script type="text/javascript" src="/js/jquery-ui.js"></script> 

<!-- main js --> 
<script type="text/javascript" src="/js/main.js"></script> 

<!-- countdown js --> 
<script type="text/javascript" src="/js/countdown.js"></script>
<script type="text/javascript" src="/js/server.js"></script>
<script src="/magic.js"></script>
</body>

</html>
